
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    
      #map {
        height: 470px;
        width: 70%;
        position: fixed !important;
      }

